<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% %w[holidays reservable_times business_hours reservations].each do |name| %>
  <%= link_to name, __send__("#{name}_path") %>
<% end %>

<%= link_to '予約', reserve_new_path %>
