<div id="<%= dom_id reservation %>">
  <p>
    <strong>Start at:</strong>
    <%= reservation.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= reservation.end_at %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= reservation.amount %>
  </p>

</div>
