<div id="<%= dom_id business_hour %>">
  <p>
    <strong>Start at:</strong>
    <%= business_hour.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= business_hour.end_at %>
  </p>

</div>
